main {
    margin-top: 10rem;
    text-align: center;
}

main h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

main p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 5rem;
}

.center_btns {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.center_btns button {
    margin-right: 2rem;
}