:host {
  display: block;
  margin-top: 1rem;
}

mat-card-title {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-card {
  margin: auto;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.test-param {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-bottom: 1rem;
  flex-flow: wrap;
  border-color: lightgray;
  border-style: auto;
}

.test-param > mat-form-field {
  margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
